.graph-view.color-fill {
  color: #9092f5 ;
  }

.graph-view.color-line {
  color: #e1d8ff ;
  }

.graph-view.color-text {
  color: #ffffff ;
  }

.markdown-source-view, .markdown-preview-view {
    max-width: 3000px;
    margin: auto;
}

